.behind-show-page {
  width: 100%;
  padding-left: 325px;
  padding-right: 25px;
  padding-top: 100px;

  .company-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
  }
}