.navbar-header {
  width: 100%;
  max-height: 95px;
  background-color: white;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar-list {
    max-width: 1400px;
    padding-left: 52px;
    padding-right: 52px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s all linear;

    .navbar-logo {
      .logo-text {
        font-size: 28px;
        font-weight: 700;
        display: block;
        color: #333;
        transition: 0.3s all linear;
      }
    }

    .header-mobile-menu-btn {
      display: none;
    }

    .navbar-menu {
      display: flex;
      align-items: center;
      justify-content: center;

      .list-a {
        padding: 1rem 15px;
        display: block;
        color: #333;
        transition: 0.3s all linear;
      }

      .list-loginUser {
        color: red;
      }
    }
  }
  .mobile-none {
    display: none;
    z-index: -10;
  }
}





@media screen and (max-width: 1170px) {
  .navbar-list {
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .navbar-header {
    min-height: 88px;

    .navbar-list {


      .mobile-display-none {
        display: none;
      }

      .header-mobile-menu-btn {
        display: block;
        font-size: 28px;
      }

      .header-navbar-menu {
        position: absolute;
        top: -91px;
        left: 0;
        padding: 35px 52px;
        width: 100%;
        background-color: rgb(109, 109, 109);
        overflow: hidden;
        
        .mobile-link-style{
          font-weight: 500;
          color: white ;
        }
      }

      .mobile-block {
        top: 88px;
        z-index: 1;
      }

      .mobile-none {
        display: none;
        z-index: -10;
      }
    }
  }
}